name: Build and push Docker image

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 验证必要的 secrets 是否存在
      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v3
        with:
          registry: crpi-dx5a494scg4cqf6f.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            crpi-dx5a494scg4cqf6f.cn-hangzhou.personal.cr.aliyuncs.com/${{ secrets.ALIYUN_USERNAME }}/travel-planner:latest
            crpi-dx5a494scg4cqf6f.cn-hangzhou.personal.cr.aliyuncs.com/${{ secrets.ALIYUN_USERNAME }}/travel-planner:${{ github.sha }}
